@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruda:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    overflow: hidden;
}


.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    margin: auto;
    filter: blur(15px);
    /* -webkit-filter: blur(25px); */
    transform: scale(1.1);
}

.container {
    background-color: #ffffff3d;
    width: 400px;
    height: 500px;
    border-radius: 1rem;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.player_img {
    width: 300px;
    height: 300px;
    position: relative;
    top: -20px;
    left: 50px;
}

.player_img img {
    object-fit: cover;
    object-position: center;
    height: 0;
    width: 0;
    opacity: 0;
    box-shadow: 0 5px 30px 5px rgba(0,0,0,0.5);
    border-radius: 20px;
}

.player_img img.active {
    height: 100%;
    width: 100%;
    opacity: 1;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
}

h3 {
    font-size: 1rem;
    text-align: center;
    color:#fff;
}

